body{
    background-color:rgb(4, 255, 255);
}


.name{
    font-size: 60px;
    color:#363636;
    text-align: center;
    margin: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.links{
    color: rgb(0, 0, 0);
    margin-right: 10px;
    margin-top: -40%;
    display: flex;
    flex-direction: column;
    align-items: center;
} /*o links é a parte dos links, onde tem o home e o about*/

.footer{
    display: flex;      
    text-align: center;
    margin-top: 50%;
} /*o footer é a parte de baixo da página*/

#home-icon, #about-icon{
    width: 20px;
    height: 20px;
    color: rgb(3, 0, 0);
} /*o home-icon e o about-icon são os icones do home e do about*/
.area-title{
    font-size: 25px;
    color:#363636;
    text-align: center;
    margin-top: -40vh;
}